.App {
  height: 100vh;
  width: 100vw;

}
.displayNone{
  border-radius: 200px;
  transform: scale(1);
  background-color: white;

  transition: all ease-in-out 1s;
  height: 50px;
  width: 50px;
}
.nav{
  border-radius: 200px;
  background-color: white;
  position: absolute;
  top: 5vh;
  right: 5vh;
  height: 50px;
  width: 50px;
  transform: scale(1);
  transition: all ease-in-out 1s;
}

.bar{
  height: 2px;
  width: 20px;
  background-color: #110935;
  margin: 3px;
  transform: scale(1) rotate(0deg) translate(0%,0%);
  transition: all ease-in .2s;
}
#bars{
  position: absolute;
  top: 50%;
  z-index: 2000;
  left: 50%;
  display: block;
  transform: rotate(0deg) translate(-50%,-50%);
  transition: all ease 1s;
}
.navOpen{
  border-radius: 200px;
  background-color: white;
  position: absolute;
  top: 5vh;
  height: 50px;
  z-index: 200;
  width: 50px;
  right: 5vh;  transform: scale(100);
  transition: all ease-in-out 1s;
}

#bar1{
  transform: rotate(-45deg) translateY(170%);
}
#bar2{
  display: none;
}
#bar3{
  transform: rotate(45deg) translateY(-170%);
}

.popUp{
  border-radius: 200px;
  background-color: white;
  transform: scale(100);
  transition: all ease-in-out 1s;
  height: 50px;
  z-index: 200;
  width: 50px;
}

#hero{
  background-image: url('./images/hero-image.png');
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainLogo{
  text-decoration: none;
  color: #fff;
  position: absolute;
  left: 150px;
  top:30px;
  font-size: 20px;
  z-index: 0;
}
.mainLogo img{
  width: 60px;
}